<div>
  <h1><%= t(".sign_in") %></h1>

  <%= form_with(model: @form, url: session_path, class: "flex flex-col") do |f| %>
    <div class="flex flex-col">
      <%= f.label :token, class: "label" %>
      <%= f.text_field :token, class: "input", placeholder: t(".token") %>
      <% if @form.errors.include?(:token) %>
        <div class="text-red-300">
          <%= @form.errors.messages_for(:token).join(", ") %>
        </div>
      <% end %>
    </div>
    <%= f.submit t("shared.buttons.join_games"), class: "button" %>
  <% end %>
</div>
