<div>
  <h1><%= t(".sign_up") %></h1>

  <div class="flex flex-col gap-y-4">
    <% if session[:past_user].present? %>
      <%= form_with(model: @rejoin_form, url: session_path) do |f| %>
        <%= f.hidden_field :token %>
        <div class="flex flex-col">
          <%= f.submit t(".rejoin_as_user_name", user_name: session.dig(:past_user, "name")), class: "button" %>
        </div>
      <% end %>
    <% end %>

    <%= form_with(model: @user, url: sign_up_path, class: "flex flex-col") do |f| %>
      <div class="flex flex-col">
        <%= f.label :name, class: "label" %>
        <%= f.text_field :name, class: "input", placeholder: t(".pick_a_username") %>
        <% if @user.errors.include?(:name) %>
          <div class="text-red-300">
            <%= @user.errors.messages_for(:name).join(", ") %>
          </div>
        <% end %>
      </div>
      <%= f.submit t("shared.buttons.join_games"), class: "button" %>
    <% end %>
  </div>
</div>
