<%= turbo_frame_tag dom_id(playlist) do %>
  <%= render CardComponent.new(padding: false) do %>
    <div class="px-4 pt-4">
      <h2 class="text-normal uppercase tracking-wide text-gray-600">
        <%= t("games.beatle.shared.my_playlist") %>
      </h2>
    </div>

    <div class="flex flex-col divide-y-2 divide-indigo-600">
      <% playlist.song_urls.each do |song_url| %>
        <div class="flex flex-col gap-y-2 px-4 py-8">
          <div class="flex justify-between items-center">
            <span class="label"><%= Games::Beatle::Playlist.human_attribute_name(song_url.song_url_attribute) %></span>
          </div>

          <%= render EmbeddedPlayerComponent.new(song_url:) %>
        </div>
      <% end %>
    </div>

    <div class="px-4 pb-4">
      <%= link_to t("games.beatle.shared.buttons.close_playlist"), game_path(playlist.player.game), class: "button ghost-button"  %>
    </div>
  <% end %>
<% end %>
