<section>
  <%= render CardComponent.new do %>
    <div class="flex flex-col gap-y-8">
      <h2 class="text-3xl font-bold uppercase text-indigo-700"><%= game.name %></h2>
      <p class="text-xl tracking-wide"><%= game.description %></p>
      <%= turbo_frame_tag :game do %>
        <%= link_to t(".start_this_game"), new_game_instance_path(game), class: "button" %>
      <% end %>
    </div>
  <% end %>
</section>
