<section>
  <%= render CardComponent.new do %>
    <div class="flex flex-col gap-y-4">
      <h2 class="text-2xl"><%= game.group_name %></h2>
      <%= link_to game_path(game), class: "button" do %>
        <%= render HeroiconComponent.new(:"arrow-small-right") %>
        <%= t("shared.buttons.goto_game") %>
      <% end %>
    </div>
  <% end %>
</section>
