<% content_for :navigation do %>
  <%= render "navigation" %>
<% end %>

<div class="px-8 flex flex-col gap-y-8">
  <h1 class="text-5xl mb-8"><%= t("shared.my_games") %></h1>

  <div class="flex flex-col gap-y-8">
    <%= render partial: "list_item", collection: @games, as: :game %>
  </div>

  <%= link_to game_catalogue_path, class: "button" do %>
    <%= render HeroiconComponent.new(:"plus-small")%>

    <%= t(".new_game") %>
  <% end %>
</div>
