<% content_for :navigation do %>
  <%= render Links::BackToComponent.new(root_path, t("shared.buttons.back_to_dashboard")) %>
<% end %>

<div class="px-8 flex flex-col gap-y-8">
  <h1 class="text-5xl mb-8"><%= @game.group_name %></h1>

  <section>
    <%= render CardComponent.new do %>
      <div class="flex flex-col gap-y-4">
        <h2 class="text-xl uppercase tracking-wide text-gray-600"><%= t("games.shared.invite") %></h2>
        <fieldset>
          <%= label_tag :join_url, t(".join_url"), class: "label" %>
          <%= text_field_tag :join_url, game_join_url(@game, token: @game.join_token), readonly: true, class: "readonly-input font-mono" %>
        </fieldset>
      </div>
    <% end %>
  </section>

  <section>
    <%= render CardComponent.new do %>
      <div class="flex flex-col gap-y-4">
        <h2 class="text-xl uppercase tracking-wide text-gray-600">
          <%= t("players.shared.players_with_count", count: @game.players.size) %>
        </h2>

        <div class="text-2xl divide-y divide-indigo-200">
          <% @game.players.ordered_by_user_name.each do |player| %>
            <div class="flex gap-x-4 items-center py-4">
              <div>
                <span class="block w-6 h-6 rounded-lg border-4 border-white/60" style="background-color: <%= player.user.color %>;"></span>
              </div>
              <div><%= player.user.name %></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>

  <section>
    <%= render CardComponent.new do %>
      <div class="flex flex-col gap-y-4">
        <h2 class="text-xl uppercase tracking-wide text-gray-600"><%= t("shared.admin") %></h2>

        <%= turbo_frame_tag @game, :edit do %>
          <div class="flex flex-col gap-y-2">
            <% if policy(@game).edit? %>
              <%= link_to t("games.shared.edit_game"), edit_game_path, class: "button" %>
            <% end %>

            <%= button_to t("games.shared.delete_game"), game_path, method: :delete, 'data-turbo-confirm': t("games.shared.do_you_really_want_to_delete_the_game"), class: "dangerous-button" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
