<% content_for :navigation do %>
  <%= render Links::BackToComponent.new(root_path, t("shared.buttons.back_to_dashboard")) %>
<% end %>

<%= turbo_stream_from @game %>
<%= turbo_stream_from @player %>

<div class="px-8 flex flex-col gap-y-8">
  <%= render Games::GroupNameComponent.new(game: @player.game) %>

  <%= render Games::CurrentPhaseSectionComponent.new(player: @player) %>

  <%= render Games::PhasesSectionComponent.new(player: @player) %>

  <%= render Games::PlayersSectionComponent.new(player: @player) %>

  <%= render Games::AdminSectionComponent.new(player: @player) %>
</div>
