<% content_for :navigation do %>
  <%= render Links::BackToComponent.new(root_path, t("shared.buttons.back_to_dashboard")) %>
<% end %>

<%= turbo_stream_from @game %>

<div class="px-8 flex flex-col gap-y-8">
  <%= render Games::GroupNameComponent.new(game: @game) %>

  <%= render Games::CurrentPhaseSectionComponent.new(game: @game, user: Current.user) %>

  <%= render Games::PhasesSectionComponent.new(game: @game, user: Current.user) %>

  <%= render Games::PlayersSectionComponent.new(game: @game, user: Current.user) %>

  <%= render Games::AdminSectionComponent.new(game: @game, user: Current.user) %>
</div>
