<% content_for :navigation do %>
  <%= render Links::BackToComponent.new(root_path, t("shared.buttons.back_to_dashboard")) %>
<% end %>

<div class="px-8 flex flex-col gap-y-8">
  <h1 class="text-5xl mb-8"><%= @game.group_name %></h1>

  <%= render Games::PhasesSectionComponent.new(game: @game, user: Current.user) %>

  <%= render Games::PlayersSectionComponent.new(game: @game, user: Current.user) %>

  <%= render Games::AdminSectionComponent.new(game: @game, user: Current.user) %>
</div>
