<div class="flex flex-col gap-y-4" id="<%= to_dom_id %>">
  <% if game.collecting? %>
    <div class="flex flex-col gap-y-2">
      <%= button_to t("games.beatle.phase_actions.start_guessing_phase"), game_phases_path(game), method: :put, params: { phase: :guessing }, disabled: transition_error_messages(:guessing).any?, class: "button", "data-turbo-confirm": t("games.beatle.phase_actions.start_guessing_phase_confirm") %>

      <div class="flex flex-col">
        <%= display_error_messages_for(:guessing) %>

        <% unless game.playlists.all? { _1.song_urls.all?(&:valid?) } %>
          <span class="text-xs text-center text-amber-700">
            <%= t("games.beatle.shared.warning_to_start_guessing_phase_as_there_are_still_empty_or_incomplete_playlists") %>
          </span>
        <% end %>
      </div>
    </div>

  <% elsif game.guessing? %>
    <div class="flex flex-col gap-y-2">
      <%= button_to t("games.beatle.phase_actions.end_game"), game_phases_path(game), method: :put, params: { phase: :ended }, disabled: transition_error_messages(:ended).any?, class: "button", "data-turbo-confirm": t("games.beatle.phase_actions.end_game_confirm") %>

      <%= display_error_messages_for(:ended) %>
    </div>

    <div>
      <%= button_to t("games.beatle.phase_actions.back_to_collecting_phase"), game_phases_path(game), method: :put, params: { phase: :collecting }, class: "dangerous-ghost-button", "data-turbo-confirm": t("games.beatle.phase_actions.back_to_collecting_phase_confirm") %>
    </div>
  <% end %>
</div>
