<%= turbo_frame_tag to_dom_id do %>
  <div class="flex flex-col gap-y-8">
    <% if game.guessing? %>
      <%= turbo_frame_tag dom_id(player, :playlist_guess), src: edit_game_beatle_playlist_guess_path(game, player.playlist_guesses.ordered.first) %>
    <% end %>

    <% if game.ended? %>
      <section>
        <%= render CardComponent.new do %>
          <div class="flex flex-col gap-y-6">
            <h2 class="text-xl uppercase tracking-wide text-gray-600">
              <%= t("games.beatle.shared.final_ranking") %>
            </h2>

            <div class="flex flex-col gap-y-2">
              <h3 class="flex justify-center uppercase text-sm text-gray-400"><%= t("games.beatle.shared.your_ranking") %></h3>
              <div class="flex justify-center">
                <%= render Players::FinalRankComponent.new(player:, size: :lg) %>
              </div>
            </div>

            <div>
              <table class="w-full">
                <thead>
                  <tr>
                    <th class="p-2 "></th>
                    <th class="p-2 w-full"></th>
                    <th class="p-2 text-right text-xs text-gray-400 font-normal">Points</th>
                  </tr>
                </thead>
                <tbody>
                  <% player.game.players.order_by_final_rank.each do |player| %>
                    <tr>
                      <td class="p-2">
                        <%= render Players::FinalRankComponent.new(player:) %>
                      </td>
                      <td class="p-2 text-2xl">
                        <%= player.decorate.display_name %>
                      </td>
                      <td class="p-2 text-right text-gray-400">
                        <%= player.decorate.display_final_points %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </section>

      <% playlist = game.playlists.order_by_user_name.first %>
      <%= turbo_frame_tag dom_id(playlist.game, :show_playlist), src: game_beatle_playlist_path(game, playlist) %>
    <% else %>
      <section>
        <%= render CardComponent.new do %>
          <div class="flex flex-col gap-y-4">
            <h2 class="text-xl uppercase tracking-wide text-gray-600">
              <%= t("games.beatle.shared.my_playlist") %>
            </h2>

            <% if game.collecting? %>
              <div class="flex justify-center">
                <%= render Games::Beatle::Player::PlaylistInlineStatusComponent.new(player:, class: "h-8 w-8") %>
              </div>
            <% end %>

            <div class="flex gap-x-4">
              <div class="w-full">
                <%= link_to t("games.beatle.shared.buttons.show_playlist"), edit_game_beatle_playlist_path(game), class: "button" %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>
<% end %>
