<ol class="games--phase-description divide-y-2 divide-indigo-600 overflow-hidden">
  <% phases.each do |phase| %>
    <li>
      <details class="open:bg-indigo-50" <%= current_phase?(phase) ? "open" : nil %>>
        <summary class="text-lg p-4 hover:bg-indigo-100 transition flex items-center gap-x-2 justify-between">
          <%= Game::Beatle.human_enum_name(:phase, phase) %>

          <% if current_phase?(phase) %>
            <%= render BadgeComponent.new do %>
              <%= t("games.shared.current_phase") %>
            <% end %>
          <% end %>
        </summary>

        <p class="p-4 text-lg bg-indigo-50">
          <%= Game::Beatle.human_enum_name(:phase_description, phase) %>
        </p>
      </details>
    </li>
  <% end %>
</ol>
