<%= turbo_frame_tag dom_id(playlist.game, :current_phase_section) do %>
  <%= render CardComponent.new(padding: false) do %>
    <%= form_with(model: playlist, url: game_beatle_playlist_path(playlist.game)) do |f| %>
      <div class="flex flex-col divide-y-2 divide-indigo-600">
        <% playlist.song_urls.each do |song_url| %>

          <div class="flex flex-col gap-y-2 px-4 py-8">
            <div class="flex justify-between items-center">
              <%= f.label song_url.song_url_attribute, class: "label" %>
            </div>

            <%= render EmbeddedPlayerComponent.new(song_url:) %>

            <% if edit_playlist? %>
              <%= f.text_field song_url.song_url_attribute, class: "input" %>
              <%= render Games::Beatle::Playlist::SongUrlStatusComponent.new(song_url:) %>
            <% end %>
          </div>

        <% end %>

        <div class="flex flex-col px-4 py-8 gap-y-2">
          <% if edit_playlist? %>
            <%= f.submit t("games.beatle.shared.buttons.save_playlist"), class: "button primary-button" %>
          <% end %>
          <%= link_to t("games.beatle.shared.buttons.close_playlist"), game_path(playlist.game), class: "button ghost-button" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
