<%= turbo_frame_tag to_dom_id do %>
  <section>
    <%= render CardComponent.new(padding: false) do %>
      <div class="flex flex-col gap-y-4">
        <h2 class="px-4 pt-4 text-xl uppercase tracking-wide text-gray-600">
          <%= t("players.shared.players_with_count", count: game.players.size) %>
        </h2>

        <ul class="text-2xl divide-y-2 divide-indigo-600 overflow-hidden">
          <% ordered_players = game.ended? ? game.players.ordered_by_final_rank : game.players.ordered_by_name %>
          <% ordered_players.each do |player| %>
            <li class="p-4 flex items-center justify-between gap-x-4">
              <%= render Users::NameWithColorBadgeComponent.new(user: player.user) %>

              <% if game.collecting? %>
                <%= render Games::Beatle::Player::PlaylistInlineStatusComponent.new(player:) %>
              <% elsif game.guessing? %>
                <%= render Games::Beatle::Player::PlaylistGuessesInlineStatusComponent.new(player:) %>
              <% elsif game.ended? %>
                <div class="flex gap-x-4 items-center">
                  <span class="text-sm text-gray-400">
                    <%= t("games.shared.n_points", count: player.final_points) %>
                  </span>
                  <%= render Players::FinalRankComponent.new(player:) %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </section>
<% end %>
