<div class="grid grid-cols-2 gap-4">
  <div class="flex justify-start">
    <% if previous_item.present? %>
      <%= link_to edit_game_beatle_playlist_guess_path(current_item.game, previous_item), class: "flex items-center gap-x-1" do %>
        <%= render HeroiconComponent.new(:"chevron-left", class: "w-4 h-4") %>
        <%= t("shared.actions.previous") %>
      <% end %>
    <% end %>
  </div>

  <div class="flex justify-end">
    <% if next_item.present? %>
      <%= link_to edit_game_beatle_playlist_guess_path(current_item.game, next_item), class: "flex items-center gap-x-1" do %>
        <%= t("shared.actions.next") %>
        <%= render HeroiconComponent.new(:"chevron-right", class: "w-4 h-4") %>
      <% end %>
    <% end %>
  </div>

  <div class="col-span-2 flex justify-center">
    <div class="flex gap-4">
      <% ordered_items.each_with_index do |playlist_guess, index| %>
        <%= render Games::Beatle::PlaylistGuess::DotComponent.new(playlist_guess:, current_playlist_guess: current_item) do %>
          <%= index.next %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
